html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.custom-background {
    background-color: grey;
    padding: 20px;
}

img {
    height: 15%;
    width: 15%;
}

p {
    word-wrap: break-word;
}
